<launch>
    <node
	    name="ign_gazebo" pkg="ros_ign_gazebo" type="ign_gazebo" output="screen" required="true"
	    args="-s -r --headless-rendering $(find auv-sim-gazebo)/worlds/qualifying.sdf">
        <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(find auv-sim-gazebo)"/>
    </node>

    <include file="$(find auv-sim-gazebo)/launch/sim.launch">
        <arg name="vision" value="false" />
    </include>
</launch>
