<launch>

    <node
	    name="ign_gazebo" pkg="ros_ign_gazebo" type="ign_gazebo" output="screen" required="true"
	    args="$(find auv-sim)/worlds/no_objects.sdf">
        <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(find auv-sim)"/>
    </node>
    
    <include file="$(find auv-sim)/launch/sim.launch"/>

</launch>