<launch>
    <node
	    name="ign_gazebo" pkg="ros_ign_gazebo" type="ign_gazebo" output="screen" required="true"
	    args="$(find auv-sim-gazebo)/worlds/octagon_task.sdf">
        <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(find auv-sim-gazebo)"/>
    </node>

    <include file="$(find auv-sim-gazebo)/launch/sim.launch"/>
</launch>