<launch>
    <arg name="q_imu_auv_w" default="0.0" />
	<arg name="q_imu_auv_x" default="1.0" />
	<arg name="q_imu_auv_y" default="0.0" />
	<arg name="q_imu_auv_z" default="0.0" />

	<arg name="q_dvl_auv_w" default="1.0" />
	<arg name="q_dvl_auv_x" default="0.0" />
	<arg name="q_dvl_auv_y" default="0.0" />
	<arg name="q_dvl_auv_z" default="0.0" />

	<arg name="auv_dvl_offset_x" default="0.0" />
	<arg name="auv_dvl_offset_y" default="0.0" />
	<arg name="auv_dvl_offset_z" default="-0." />
    <arg name="vision" default="true" />

    <include file="$(find bringup)/launch/bringup.launch">
        <arg name="sim" value="true" />
        <arg name="q_imu_auv_w" value="$(arg q_imu_auv_w)" />
        <arg name="q_imu_auv_x" value="$(arg q_imu_auv_x)" />
        <arg name="q_imu_auv_y" value="$(arg q_imu_auv_y)" />
        <arg name="q_imu_auv_z" value="$(arg q_imu_auv_z)" />

        <arg name="q_dvl_auv_w" value="$(arg q_dvl_auv_w)" />
        <arg name="q_dvl_auv_x" value="$(arg q_dvl_auv_x)" />
        <arg name="q_dvl_auv_y" value="$(arg q_dvl_auv_y)" />
        <arg name="q_dvl_auv_z" value="$(arg q_dvl_auv_z)" />

        <arg name="auv_dvl_offset_x" value="$(arg auv_dvl_offset_x)" />
        <arg name="auv_dvl_offset_y" value="$(arg auv_dvl_offset_y)" />
        <arg name="auv_dvl_offset_z" value="$(arg auv_dvl_offset_z)" />
        <arg name="vision" value="$(arg vision)" />
    </include>

    <param name="sim" value="true" />
    <param name="use_sim_time" value="true" />
    <node name="pose" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/world/quali/dynamic_pose/info@geometry_msgs/PoseArray@ignition.msgs.Pose_V">
    </node>

    <node name="bridge_thruster1" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster1_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>
              
    <node name="bridge_thruster2" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster2_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster3" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster3_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster4" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster4_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster5" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster5_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster6" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster6_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster7" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster7_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster8" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster8_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_imu" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/imu@sensor_msgs/Imu@ignition.msgs.IMU">
    </node>

    <node name="bridge_depth_cam" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/vision/front_cam/aligned_depth_to_color/image_raw@sensor_msgs/Image@ignition.msgs.Image">
    </node>

    <node name="bridge_front_cam" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/vision/front_cam/color/image_raw@sensor_msgs/Image@ignition.msgs.Image">
    </node>



    <node name="ign_to_ros" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
       args="/Clock@ignition.msgs.clock@rosgraph_msgs/Clock">
    </node>

     <node name="ros_to_ign"  pkg="ros_ign_bridge" type="parameter_bridge" output = "screen"
      args="/clock@rosgraph_msgs/Clock@ignition.msgs.Clock">
     </node>



    <node name="bridge_down_cam" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/vision/down_cam/image_raw@sensor_msgs/Image@ignition.msgs.Image">
    </node> 

    <node name="bridge_front_cam_info" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="vision/front_cam/camera_info@sensor_msgs/CameraInfo@ignition.msgs.CameraInfo">
        <remap from="vision/front_cam/camera_info" to="/vision/front_cam/aligned_depth_to_color/camera_info"/>
    </node> 

    <!-- <node name="bridge_point_cloud" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="vision/front_cam/depth/points@sensor_msgs/PointCloud2@ignition.msgs.PointCloudPacked">
        <remap from="vision/front_cam/depth/points" to="vision/front_cam/point_cloud"/>
    </node>  -->



    <!-- <node name="rostopic" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
	 agrs="vision/front_cam/depth/points@sensor_msgs/PointCloud2@ignition.msgs.PointCloudPacked">


   <! -- <node name=ros_ign_bridge" pkg="rostopic" type="parameter_bridge" output="screen"
	 agrs="vision/front_cam/depth/points@sensor_msgs/PointCloud2@ignition.msgs.PointCloudPacked">
	
    <node 
        name="bridge_py" pkg="auv-sim-gazebo" type="bridge.py" output="screen">
		<param name="q_imu_auv_w" value="$(arg q_imu_auv_w)" />
		<param name="q_imu_auv_x" value="$(arg q_imu_auv_x)" />
		<param name="q_imu_auv_y" value="$(arg q_imu_auv_y)" />
		<param name="q_imu_auv_z" value="$(arg q_imu_auv_z)" />

		<param name="q_dvl_auv_w" value="$(arg q_dvl_auv_w)" />
		<param name="q_dvl_auv_x" value="$(arg q_dvl_auv_x)" />
		<param name="q_dvl_auv_y" value="$(arg q_dvl_auv_y)" />
		<param name="q_dvl_auv_z" value="$(arg q_dvl_auv_z)" />

		<param name="auv_dvl_offset_x" value="$(arg auv_dvl_offset_x)" />
		<param name="auv_dvl_offset_y" value="$(arg auv_dvl_offset_y)" />
		<param name="auv_dvl_offset_z" value="$(arg auv_dvl_offset_z)" />
    </node> 

</launch>
