<launch>

    <include file="$(find controls)/launch/controls.launch">
        <arg name="sim" value="true" />
    </include>

    <node name="pose" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/world/quali/dynamic_pose/info@geometry_msgs/PoseArray@ignition.msgs.Pose_V">
    </node>

    <node name="bridge_thruster0" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster0_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>
              
    <node name="bridge_thruster1" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster1_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster2" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster2_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster3" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster3_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster4" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster4_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster5" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster5_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster6" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster6_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_thruster7" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/model/clarke/joint/thruster7_joint/cmd_pos@std_msgs/Float64@ignition.msgs.Double">
    </node>

    <node name="bridge_imu" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/imu@sensor_msgs/Imu@ignition.msgs.IMU">
    </node>

    <node name="bridge_depth_cam" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/vision/front_cam/depth@sensor_msgs/Image@ignition.msgs.Image">
    </node>

    <node name="bridge_front_cam" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/vision/front_cam/image_rgb@sensor_msgs/Image@ignition.msgs.Image">
    </node>


    <node name="bridge_down_cam" pkg="ros_ign_bridge" type="parameter_bridge" output="screen"
        args="/vision/down_cam/image_raw@sensor_msgs/Image@ignition.msgs.Image">
    </node> 
 
    <node 
        name="bridge_py" pkg="auv-sim" type="bridge.py" output="screen">
    </node>

    <include file="$(find state_estimation)/launch/transform_broadcaster.launch"/>

</launch>